### Exercise 11: Cleaning messy Data

--------------------------------------------------------------------------------------------------------------

## Option 1: Self_guided

__Import__ the cars dataset from the csv-file __cars_unclean.csv__ and inspect. Then, __clean up__ the dataset:

- Identify and handle __inconsistent data__
- Each column/feature should have the __appropriate/most functional datatype__
- Identify and handle __missing values__
- Identify and handle __duplicates__
- Have a closer look into columns with __strings__ and clean up
- Identify and handle __erroneous outliers__ in numerical columns
(hint: there might be a "fat finger" issue in one column and some value(s) in the mpg column could be in "gallons per mile" units)
- __Save and export__ the cleaned dataset in a new csv-file (cars_clean.csv)
- Change the datatype of appropriate columns to __categorical__.

--------------------------

In [317]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [318]:
cars = pd.read_csv('/home/cullyn/Documents/Notes/pandas/data/part2/cars_unclean.csv')

In [319]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0 hp,3504,12.0,70,United States,chevrolet chevelle malibu
1,15.0,8,350.0,165.0 hp,3693,11.5,70,United States,buick skylark 320
2,18.0,8,318.0,150.0 hp,3436,11.0,70,United States,plymouth satellite
3,16.0,8,304.0,150.0 hp,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0 hp,3449,10.5,70,usa,FORD TORINO
...,...,...,...,...,...,...,...,...,...
324,12.0,8,429.0,198.0 hp,4952,11.5,73,usa,mercury marquis brougham
325,27.0,4,101.0,83.0 hp,2202,15.3,76,europe,renault 12tl
326,17.0,6,250.0,100.0 hp,3329,15.5,71,usa,chevrolet chevelle malibu
327,14.5,8,351.0,152.0 hp,4215,12.8,76,usa,ford gran torino
328,25.0,6,181.0,110.0 hp,2945,16.4,82,usa,buick century limited

In [320]:
cars.rename(columns={'model year':'year', 'acceleration':'acc', 'cylinders':'cyl', 'displacement':'disp'}, inplace=True)

In [321]:
cars.origin = cars.origin.str.strip()
cars.origin = cars.origin.str.replace('United States', 'usa')

In [322]:
cars.horsepower = cars.horsepower.replace('hp', '', regex=True)
cars.horsepower = cars.horsepower.str.strip()
cars.horsepower = pd.to_numeric(cars.horsepower, errors='coerce').astype('Int64')

In [323]:
cars.acc = pd.to_numeric(cars.acc, errors='coerce').astype('float64')

In [324]:
cars.name = cars.name.str.strip().str.lower()

In [325]:
cars[cars.duplicated(keep=False)].sort_values(by='name')

,mpg,cyl,disp,horsepower,weight,acc,year,origin,name
323,24.3,4,151.0,90,3003,20.1,80,usa,amc concord
268,24.3,4,151.0,90,3003,20.1,80,usa,amc concord
322,16.0,6,258.0,110,3632,18.0,74,usa,amc matador
117,16.0,6,258.0,110,3632,18.0,74,usa,amc matador
308,25.0,6,181.0,110,2945,16.4,82,usa,buick century limited
328,25.0,6,181.0,110,2945,16.4,82,usa,buick century limited
31,17.0,6,250.0,100,3329,15.5,71,usa,chevrolet chevelle malibu
326,17.0,6,250.0,100,3329,15.5,71,usa,chevrolet chevelle malibu
165,14.5,8,351.0,152,4215,12.8,76,usa,ford gran torino
327,14.5,8,351.0,152,4215,12.8,76,usa,ford gran torino
79,12.0,8,429.0,198,4952,11.5,73,usa,mercury marquis brougham
324,12.0,8,429.0,198,4952,11.5,73,usa,mercury marquis brougham
320,14.0,8,340.0,160,3609,8.0,70,usa,plymouth 'cuda 340
11,14.0,8,340.0,160,3609,8.0,70,usa,plymouth 'cuda 340
321,13.0,8,360.0,170,4654,13.0,73,usa,plymouth custom suburb
94,13.0,8,360.0,170,4654,13.0,73,usa,plymouth custom suburb
161,27.0,4,101.0,83,2202,15.3,76,europe,renault 12tl
325,27.0,4,101.0,83,2202,15.3,76,europe,renault 12tl
319,25.0,4,104.0,95,2375,17.5,70,europe,saab 99e
20,25.0,4,104.0,95,2375,17.5,70,europe,saab 99e

In [326]:
cars.drop_duplicates(ignore_index=True, inplace=True)

In [327]:
cars.weight[126] = cars.weight[126] // 10

In [328]:
cars.mpg[244] = (1 / cars.mpg[244]).round()

In [329]:
missing_hp_idx = cars[cars.horsepower.isna()].index
horsepowers = [100, 75, 53, 118, 81, 82]
cars.horsepower[missing_hp_idx] = horsepowers

In [330]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mpg         319 non-null    float64
 1   cyl         319 non-null    int64
 2   disp        319 non-null    float64
 3   horsepower  319 non-null    Int64
 4   weight      319 non-null    int64
 5   acc         319 non-null    float64
 6   year        319 non-null    int64
 7   origin      319 non-null    object
 8   name        319 non-null    object
dtypes: Int64(1), float64(3), int64(3), object(2)
memory usage: 22.9+ KB

In [331]:
cars.nunique()

mpg           103
cyl             4
disp           70
horsepower     87
weight        294
acc            89
year           14
origin          2
name          241
dtype: int64

In [332]:
cars.origin = cars.origin.astype('category')
cars.disp = cars.disp.apply(np.int64)

In [333]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mpg         319 non-null    float64
 1   cyl         319 non-null    int64
 2   disp        319 non-null    int64
 3   horsepower  319 non-null    Int64
 4   weight      319 non-null    int64
 5   acc         319 non-null    float64
 6   year        319 non-null    int64
 7   origin      319 non-null    category
 8   name        319 non-null    object
dtypes: Int64(1), category(1), float64(2), int64(4), object(1)
memory usage: 20.8+ KB

In [334]:
cars = cars.convert_dtypes()

In [335]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mpg         319 non-null    float64
 1   cyl         319 non-null    Int64
 2   disp        319 non-null    Int64
 3   horsepower  319 non-null    Int64
 4   weight      319 non-null    Int64
 5   acc         319 non-null    float64
 6   year        319 non-null    Int64
 7   origin      319 non-null    category
 8   name        319 non-null    string
dtypes: Int64(5), category(1), float64(2), string(1)
memory usage: 22.0 KB

In [336]:
cars

,mpg,cyl,disp,horsepower,weight,acc,year,origin,name
0,18.0,8,307,130,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
314,27.0,4,140,86,2790,15.6,82,usa,ford mustang gl
315,44.0,4,97,52,2130,24.6,82,europe,vw pickup
316,32.0,4,135,84,2295,11.6,82,usa,dodge rampage
317,28.0,4,120,79,2625,18.6,82,usa,ford ranger
318,31.0,4,119,82,2720,19.4,82,usa,chevrolet s-10

In [337]:
cars.rename(columns={'horsepower':'hp'}, inplace=True)

In [338]:
cars

,mpg,cyl,disp,hp,weight,acc,year,origin,name
0,18.0,8,307,130,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
314,27.0,4,140,86,2790,15.6,82,usa,ford mustang gl
315,44.0,4,97,52,2130,24.6,82,europe,vw pickup
316,32.0,4,135,84,2295,11.6,82,usa,dodge rampage
317,28.0,4,120,79,2625,18.6,82,usa,ford ranger
318,31.0,4,119,82,2720,19.4,82,usa,chevrolet s-10

In [339]:
split = cars.name.str.split(' ', n=1, expand =True)
split.columns = ['corp', 'name']

In [340]:
cars.drop('name', axis=1, inplace=True)

In [346]:
cars = pd.concat([cars,split], axis=1)

In [399]:
cars.loc[cars['year']==1973].index

Int64Index([105, 106, 107, 108, 109], dtype='int64')

In [405]:
cars.year = cars.year.replace(1973, 73)

In [410]:
cars.nunique()

mpg       103
cyl         4
disp       69
hp         87
weight    294
acc        89
year       13
origin      2
corp       23
name      241
dtype: int64

In [411]:
cars.corp = cars.corp.astype('category')

In [413]:
cars..value_counts()

150    22
90     18
110    17
100    16
88     14
       ..
58      1
64      1
77      1
62      1
102     1
Name: hp, Length: 87, dtype: Int64

In [416]:
cars.to_csv('/home/cullyn/Documents/Notes/pandas/data/part2/cars_clean.csv', index=False)